* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.alignleft {
    position: absolute;

    left: 10px;

    top: 15px
}

.tltleleft {
    position: absolute;

    left: 30px;

    top: 15px;

    text-decoration: none;

}

.searchpo {
    position: absolute;

    left: 300px;

    top: 20px
}

.searchkuang {
    position: absolute;

    left: 500px;

    top: 17px
}

.searchbutton {
    position: absolute;

    left: 900px;

    top: 17px
}

.searchbutton:active {
    filter: brightness(85%);
}

.history-button .el-icon-time:before {

    color: #42B983FF;
}

.history-button {
    position: absolute;

    left: 1350px;

    top: 15px;
    transform: scale(2.9);
}

.history-button:active .el-icon-time:before {
    color: #FFFFFF;
}

.star-button {
    position: absolute;

    left: 1420px;

    top: 15px
}

.star-button .el-icon-star-off:before {
    color: #42B983FF;
}

.star-button:active .el-icon-star-off:before {
    color: #FFFFFF;
}

.star-button .el-icon-star-off {
    transform: scale(3.0);
}

.user-button {
    position: absolute;

    left: 1490px;

    top: 15px
}

.user-button .el-icon-user:before {
    color: #42B983FF;
}

.user-button:active .el-icon-user:before {
    color: #FFFFFF;
}

.user-button .el-icon-user {
    transform: scale(3.0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.shell {
    height: 25vh;
    display: flex;

}

.box {
    flex: 1;
    min-width: 0;
    box-shadow: -20px 0 20px 5px rgba(255, 255, 255, 0.7);
    transition: flex 0.8s;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    border: 2px solid #fff;
}

.box:hover {
    flex: 2;
}

.box:hover .text {
    animation: appear 0.8s forwards 0.3s;
}

.img1 {
    background-image: url(../assets/museum/museum01.jpg);
}

.img2 {
    background-image: url(../assets/museum/museum02.jpg);
}

.img3 {
    background-image: url(../assets/museum/museum03.jpg);
}

.img4 {
    background-image: url(../assets/museum/museum04.jpg);
}

.img5 {
    background-image: url(../assets/museum/museum05.jpg);
}

.img6 {
    background-image: url(../assets/museum/museum06.jpg);
}

.img7 {
    background-image: url(../assets/museum/museum07.jpg);
}

.text {
    padding: 10px 10px;
    opacity: 0;
    color: rgb(255, 255, 255);
    height: 380px;
    width: 490px;
    background-color: rgba(110, 110, 110, 0.5);
}

header {
    height: 40px;
    font-size: 15px;
    font-family: 华文中宋;
    line-height: 30px;
    font-weight: bold;
    border-bottom: 2px solid white;
}

.title {
    display: inline-block;
    height: 50px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.num {
    margin-top: -10px;
    margin-left: 8px;

}


.text p {
    margin: 10px 0;
    font-size: 15px;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.sort-banner {
    display: flex;

    height: 44px;
    font-size: 14px;
    line-height: 1;
    position: absolute;
    left: 0px;
    top: 300px


}

.sort-item.on {
    color: #42b983;
}

.sort-item {
    position: relative;
    width: 80px;
    margin-right: 20px;
    float: left;
    color: #222;
    cursor: pointer;
}

.sort-item.on i.active.up {
    border-top: none;
}

.sort-item i.down {
    bottom: 0;
    border: 5px dashed rgba(0, 0, 0, 0);
    border-top: 5px solid #ddd;
    border-bottom: none;
}

.sort-item i.down, .sort-item i.up {
    display: block;
    position: absolute;
    left: 60px;
    margin: 0 2px;
    width: 0;
    height: 0;
}

/*这是下面排序区域位置设置*/
.tiao {
    position: absolute;

    left: 200px;

    top: 250px
}

/*这是下面筛选区域位置设置*/
.shai {
    position: absolute;

    left: 1335px;

    top: 385px
}

/*博物馆索引标题位置*/
.museumsuoyin {
    position: absolute;
    left: -20px;
    top: 340px;
    transform: scale(0.8);
    font-weight: bold; /* 字体加粗 */
}

.museumshaixuan {
    position: absolute;
    left: 1295px;
    top: 340px;
    transform: scale(0.8);
    font-weight: bold; /* 字体加粗 */
}

.likeslan {
    position: absolute;

    left: 100px;

    top: 108px;
    transform: scale(1.25);
}

.popularitylan {
    position: absolute;

    left: 100px;

    top: 108px;
    transform: scale(1.25);

}

.favoriteslan {
    position: absolute;

    left: 350px;

    top: 108px;
    transform: scale(1.25);
}

.ratinglan {
    position: absolute;

    left: 600px;

    top: 108px;
    transform: scale(1.25);
}

.likeslan,
.popularitylan,
.ratinglan,
.favoriteslan {
    font-weight: bold; /* 字体加粗 */
    color: #6e6e6e; /* 初始字体颜色 */
}

.likeslan:hover,
.popularitylan:hover,
.ratinglan:hover,
.favoriteslan:hover {
    color: #FF8A8AFF; /* 鼠标悬停时字体颜色 */
}


.el-radio__input.is-checked + .el-radio__label {
    color: #42B983FF; /* 被选中时字体颜色 */
}

.sort-options-container {
    position: relative;
}

/* 修改圆形按键选中时的颜色 */
.el-radio__input.is-checked .el-radio__inner {
    border-color: #42B983FF;
    background-color: #42B983FF;
}

.sort-options-container {
    position: relative;
    z-index: 0; /* 将 z-index 设置为较小的值 */
}

.sort-options-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 4px; /* 细长椭圆矩形的高度 */
    background-color: #6E6E6E7F; /* 背景颜色 */
    border-radius: 2px; /* 圆角 */
    z-index: -1; /* 将 z-index 设置为更小的值，使其位于排序栏之后 */
}

.el-select .el-input__inner,
.el-select .el-input__inner:hover,
.el-select .el-input__inner:focus {
    color: #42B983FF; /* 修改被选中时文本颜色 */
}

.el-select .el-input__suffix .el-input__icon {
    color: #42B983FF; /* 修改按键颜色 */
}

/*开放时间样式*/
.el-checkbox-group .el-checkbox__label.is-checked {
    color: #42B983FF !important; /* 修改被选中时文本颜色 */
}

.el-checkbox__input.is-checked .el-checkbox__inner {
    border-color: #42B983FF;
    background-color: #42B983FF;
}

.el-checkbox__label.is-checked {
    border-color: #42B983FF;
    background-color: #42B983FF;
}

/* 修改开关被选中时的颜色 */
.el-switch.is-checked .el-switch__core {
    background-color: #42B983FF !important;
}

/* 修改按钮默认状态下的颜色 */


.applyshaixuan:active {
    color: #42B983FF;
}

.tiaozhuan {
    position: absolute;

    left: 1300px;

    top: 800px;
}

.tiaozhuan button {
    background-color: #42B983;
    color: #FFFFFF;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.tiaozhuan button:active {
    background-color: #2F7D6D; /* 点击时的背景色，可以根据需要调整 */
}

.a {
    position: relative;
    perspective: 1600px;
    top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.25);
}

.b {
    width: 450px;
    height: 250px;
    position: absolute;
    transform-style: preserve-3d;
    animation: a 13s infinite cubic-bezier(.7, 0, .17, 1);
}

.b div {
    position: absolute;
    background-size: cover;
    opacity: 1;
    width: 450px;
    height: 250px;
    transform: rotateY(calc(var(--i) * 144deg)) translateZ(600px);
}

@keyframes a {
    0% {
        transform: translateZ(-100px) rotateY(0);
    }
    20% {
        transform: translateZ(-100px) rotateY(-72deg);
    }
    40% {
        transform: translateZ(-100px) rotateY(-144deg);
    }
    60% {
        transform: translateZ(-100px) rotateY(-216deg);
    }
    80% {
        transform: translateZ(-100px) rotateY(-288deg);
    }
    100% {
        transform: translateZ(-100px) rotateY(-360deg);
    }
}


.custom-card {
    background-color: rgb(131, 131, 131, 0.4); /* 设置背景色为半透明白色 */
    padding: 20px;
    border-radius: 15px;
    width: 700px;
    height: 290px;
    position: relative;
    top: 240px;
    left: 750px;

}

.header {
    font-size: 20px;
    font-weight: bold;
    color: #42B983;
}

.content {
    color: #050505; /* 设置文本颜色 */
}

/*以下为评分栏样式*/

/*评分栏样式结束*/
/*以下为“我要收藏”按键样式*/
.button {
    display: inline-block;
    position: relative;
    top: -140px;
    left: 1340px;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1em;
    padding: 0.75em 1em;
    color: #5b5b5b;
    border: 0.15em solid #838383;
    border-radius: 1em;
    transition: 4s;
}

.button:before,
.button:after {
    content: "";
    position: absolute;
    top: -1.5em;
    z-index: -1;
    width: 200%;
    aspect-ratio: 1;
    border: none;
    border-radius: 40%;
    background-color: rgb(66, 185, 131, 0.5);
    transition: 4s;
}

.button:before {
    left: -80%;
    transform: translate3d(0, 5em, 0) rotate(-340deg);
}

.button:after {
    right: -80%;
    transform: translate3d(0, 5em, 0) rotate(390deg);
}

.button:hover,
.button:focus {
    color: white;
}

.button:hover:before,
.button:hover:after,
.button:focus:before,
.button:focus:after {
    transform: none;
    background-color: rgb(42, 140, 99, 0.75);
}

/*“我要收藏”按键样式结束*/
/*游览参考信息栏开始*/
.basic-card {
    background-color: rgb(131, 131, 131, 0.4);
    padding: 20px;
    border-radius: 15px;
    width: 1400px;
    height: 190px;
    position: relative;
    top: 200px;
    left: 50px;

}

.info-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.label {
    flex: 0 0 auto;
    width: 80px; /* 调整标签列的宽度 */
    font-weight: bold; /* 文本加粗 */
}

.value {
    flex: 1; /* 让值的部分填充剩余的空间 */
    text-align: left; /* 确保值左对齐 */
}

/*
游览参考信息结束*/
/*可视化栏开始*/
.Visual-card {
    background-color: rgb(131, 131, 131, 0.4);
    padding: 20px;
    border-radius: 15px;
    width: 1400px;
    height: 1000px;
    position: relative;
    top: 270px;
    left: 50px;

}

/*可视化栏结束*/
.museumColumn {
    background-color: rgba(52, 138, 99, 0);
    position: absolute;
    top: 400px;
    left: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 每行四列 */
    grid-gap: 20px; /* 设置图片和文字之间的间距 */
    grid-auto-rows: minmax(auto, auto); /* 行高自适应内容 */
}

.museumColumn1 {
    background-color: #FFFFFF;
    position: relative;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 每行四列 */
    grid-gap: 20px; /* 设置图片和文字之间的间距 */
    grid-auto-rows: minmax(auto, auto); /* 行高自适应内容 */
}

.museumGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* 将图片文字组向左对齐 */
    margin-right: 20px; /* 控制同一行的间距 */
    min-width: 200px; /* 设置容器的最小宽度 */
}

.museumRow {

}

.paginationContainer {
    position: absolute;
    bottom: -60px; /* 设置分页器距离底部的位置 */
    left: 200px; /* 设置分页器距离左侧的位置 */
}

.museumName {
    color: #000000; /* 默认文字颜色 */
    transition: color 0.3s ease; /* 添加颜色过渡效果 */
}

.museumName:hover {
    color: #42B983FF; /* 悬停时文字颜色 */
}

.chartsize {
    position: relative;
    bottom: 300px;
    transform: scale(0.6);
}
